.nicknameprofile {
    width: 20px;
    height: 20px;
    border:1px solid gray;
    border-radius: 50%;
    overflow: hidden;
}

#viewphoto {
    width: 70px;
    height: 70px;
    border:1px solid gray;
    border-radius: 50%;
    overflow: hidden;
}

#selectbox {
	background-color:#ff0000;
    width: 30px !important;  /* 너비설정 */
}

